/* grid de 960px  dividido por 12 mas com espaço pra cada coluna*/

.linha {
  width: 960px;
  margin: 0 auto;
  padding: 5px 0;
  overflow: auto;
}
.coluna {
  padding: 0px 10px;
  float: left;
}
a:link, a:active, a:visited{
  color: #6400c1c0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: #fffafa;
}   

.col1 {
  width: 60px;
}
.col2 {
  width: 140px;
}
.col3 {
  width: 220px;
}
.col4 {
  width: 300px;
}
.col5 {
  width: 380px;
}
.col6 {
  width: 460px;
}
.col7 {
  width: 540px;
}
.col8 {
  width: 620px;
}
.col9 {
  width: 700px;
}
.col10 {
  width: 780px;
}
.col11 {
  width: 860px;
}
.col12 {
  width: 940px;
}
/* estilos reutilizaveis */

.sem-padding{
  padding: 0px !important;
}
.sem-margin {
  margin: 0px !important;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  margin: 15px 0 10px 0;
}
ul li, ol li {
  margin-bottom: 5px;
}
ul.inline li, ol.inline li{
  display: inline;
  margin-right: 15px;
}
ul.inline li:last-child, ol.inline li:last-child{
  margin-right: 0;
}
ul.sem-marcador, ol.sem-marcador{
  list-style: none !important;
}
a.botao, input.botao {
  background: #8000ff;
  padding: 5px 10px;
  border-radius: 3px;
  color: #ebebeb;
  cursor: pointer;
  margin: 5px 0;
  display: inline-block;
  border: none;
}
a.botao:hover, input.botao:hover{
  background: #b62ae1a4;
}
img{
  max-width: 100%;
  height: auto;
}
/* layout do site */
.header {
  background: #161617;
}
h1.logo{
  font-weight: 300;
  color: #5d00ffd1;
  letter-spacing: -2px;
  font-family:initial;
}
.conteudo-extra {
  color: #ebebeb;
  background: #000000;
}
.footer{
  background: #7300ff;
  color: #ebebeb;
  padding: 20px 0px;
  text-align: center;
  font-weight: 100;
  font-family: cursive;
}
.menu {
  text-transform: uppercase;
  text-align: right;
  margin-top: 25px;
}
.menu li a{
  padding: 5px 5px;
  border-radius: 3px;
}
.logo:hover {
  color: #5e0089;
  cursor: help;
}
.menu li a:hover {
  text-decoration: none;
  background: #5e0089;
  color: #ebebeb;
}
ul.noticias li{
  clear: both;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
ul.noticias li img{
  width: 70px;
  height: auto;
  margin-right: 10px;
  float: left;
}
ul.noticias li h4{
  margin: -2px 0 5px 0;
  font-weight: 700;
}
ul.noticias p{
  margin: 5px 0;
  font-weight: 300;
}
ul.noticias li p a{
  font-weight: 500;
}
.contato label{
  display: block;
  font-size: 13px;
  font-weight: 300;
}
.contato input, .contato textarea{
  display: block;
  margin-bottom: 15px;
  padding: 5px 2%;
  width: 96%;
}
.contato textarea{
  height: 150px;
}
.contato input.botao{
  width: auto;
}
p {
  width: auto;
  height: auto;
}
@media (max-width: 1000px) {
.responsivo {
  width: auto;
  padding: 5px;
  overflow-x: hidden;
}
.contato label{
  display: block;
  font-size: 13px;
  font-weight: 300;
}
.linha .col6 {
  width: 180px;
  height: auto;
}
.linha .col6 p {
 width: 200px;
 height: auto;
}
.linha .col4 {
  width: 180px;
  height: auto;
}
.linha .col4 p {
  width: 200px;
  height: auto;
}
.linha {
  height: auto;
}
.contato input, .contato textarea{
  display: block;
  margin-bottom: 15px;
  padding: 5px 2%;
  width: 240px;
}
.contato textarea{
  width: 240px;
  height: 50px;
}
ul.inline li, ol.inline li {
  display: inline;
  margin-right: 11px;
}
.sidebar {
    display: none;
}
.header {
  overflow-x: hidden;
  width: 440px;
  padding: 5px;
}
.linha .col8 .resp  {
  height: 30px;
  width: 420px;
  overflow: hidden;
}
.nav-list {
  width: 440px;
}
ul.inline li, ol.inline li {
  display: inline-block;
}
.header .linha {
  width: 720px;
}
.mim {
  width: 440px;
}
ul {
  padding: 0px 0px 0px 10px;
}
.linha {
  padding: 8px;
  width: 440px;
  overflow: hidden;
}
.menu li a {
  width: 480px;
}

.menu li {
  margin: 5px;
  float: left;
}
.menu li a {
  margin-left: -13px;
  padding: 2px 2px;
}
h2 {
  text-indent: 5px;
}
.header .col8 .menu {
  margin: 0px -5px;
}
.veja {
  text-indent: 0px;
  width: 300px;
}
.logo {
  width: 240px;
  margin-left: 80px;
  text-align: center;
}
.conteudo-extra .col5  {
  width: 340px;
  height: auto;
}
.conteudo-extra .col7 p {
  width: 340px;
  height: auto;
}
.linha .info .col8 h2{
  width: 320px;
}
.linha .info .col8 p{
  width: 420px;
}
.footer .linha .col12 span {
  margin-left: 8.5%;
  float: left;
}
.linha .col9 p {
  width: 340px;
  height: auto;
}
.linha .col9 img {
  width: auto;
  height: 200px;
}
.col9 p {
  width: 340px;
  height: auto;
}
}